<section class="resume-section" id="education">
  <div class="resume-section-content">
    <h2 class="mb-5 h2-main">Education</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="flex-grow-1">
        <div class="mb-3 h3-main">Bachelor of Engineering</div>
        <h3 class="mb-0 subheading h5-main">CMR Institute of Technology</h3>
        <div class="m-3">
          <div class="lead">Computer Science & Engineering</div>
          <p class="lead">GPA: 9.04</p>
        </div>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary lead">July 2017 - August 2021</span>
      </div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <div class="mb-3 h3-main">High School</div>
        <h3 class="mb-0 subheading h5-main">
          Royale Concorde International School
        </h3>
        <div class="m-3">
          <div class="lead">PCMC</div>
          <p class="lead">GPA: 9.2</p>
        </div>
      </div>
      <div class="flex-shrink-0">
        <span class="text-primary lead">June 2015 - July 2017</span>
      </div>
    </div>
  </div>
</section>
