<section class="resume-section" id="experience">
  <div class="resume-section-content">
    <h2 class="mb-5">Experience</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
      <div class="flex-grow-1">
        <h3 class="mb-0">Software Development Engineer</h3>
        <div class="subheading mb-3">Amazon, India</div>
        <div>
          <ul>
            <li>Part of the Reorder Innovations Team developing features for Amazon Retail Shopping Services.
              Developing and maintaining features under the Retail website under the Replenishment Organization.</li>
            <li>Contributing to developing the Seller Services Platform enabling sellers to onboard their
              promotions/offers.</li>
          </ul>
        </div>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">May 2022 - Present</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
      <div class="flex-grow-1">
        <h3 class="mb-0">Full Stack Developer</h3>
        <div class="subheading mb-3">VMware, India</div>
        <ul>
          <li>Developed tools for auto generation and management of tests and test data, completed and presented the
            Proof of Concept.</li>
          <li>Worked on developing systems for streamlining the testing process within the organization.</li>
          <li>Part of the innovation cell to simplify on-boarding of new cloud native applications into the
            deployment pipelines.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">August 2021 - May 2022</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
      <div class="flex-grow-1">
        <h3 class="mb-0">Intern</h3>
        <div class="subheading mb-3">VMware, India</div>
        <ul>
          <li>Developed orchestration back-end service for a chat-bot aimed at simplifying and
            reducing time taken for deployments</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">January 2021 - June 2021</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between mb-4">
      <div class="flex-grow-1">
        <h3 class="mb-0">Intern</h3>
        <div class="subheading mb-3">Across the Globe</div>
        <ul>
          <li>Automated the scraping of websites to populate events within the website.</li>
          <li>Developed bash scripts to automate backups within servers.</li>
          <li>Developed python scripts to automate database backups, provide a clone of production data ready for developers to play with.</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">March 2019 - October 2019</span></div>
    </div>
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="flex-grow-1">
        <h3 class="mb-0">Chief Technical Officer</h3>
        <div class="subheading mb-3">Gotyche Technology</div>
        <ul>
          <li>Product Innovator, Inventor</li>
          <li>Obtained a total of INR 12.9 Lakh in Funding from Govt. of Karnataka and other departments.</li>
          <li>Qualified for the regionals of Hult price</li>
        </ul>
      </div>
      <div class="flex-shrink-0"><span class="text-primary">February 2018 - March 2019</span></div>
    </div>
  </div>
</section>
