<section class="resume-section" id="interests">
  <div class="resume-section-content">
    <h2 class="mb-5 h2-main">Interests</h2>
    <p class="lead">
      Apart from being a web developer, I enjoy most of my time being outdoors.
      Most of the time I am down fixing up some bike or a car. Otherwise I can
      be found drawing or sketching a landscape. Recently I have discovered my
      interest in VFX and I am working towards honing my skills in that domain.
    </p>
    <p class="mb-0 lead">
      When forced indoors, I follow a number of sci-fi and action genre movies
      and <i (click)="showHiddenInterests()">television shows</i>, I am an
      aspiring gamer, and I spend a large amount of my free time exploring the
      latest technology advancements in the web development and machine learning
      world.
    </p>

    <ul
      class="list-inline dev-icons mt-5 mb-5 visually-hidden"
      #hiddenInterests
    >
      <li matTooltip="Silicon Valley!!" class="list-inline-item m-2">
        <i class="fab fa-pied-piper"></i>
      </li>
      <li matTooltip="Richard Hendricks!!" class="list-inline-item m-2">
        <i class="fab fa-pied-piper-pp"></i>
      </li>
      <li matTooltip="Gavin Belson!!" class="list-inline-item m-2">
        <i class="fab fa-hooli"></i>
      </li>
      <li matTooltip="Erlich Bachman!!" class="list-inline-item m-2">
        <i class="fab fa-aviato"></i>
      </li>
    </ul>
  </div>
</section>
