<section class="resume-section" id="skills">
  <div class="resume-section-content">
    <h2 class="mb-5 h2-main">Skills</h2>
    <div class="subheading mb-3">Programming Languages I think I know</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item"><i class="fab fa-java"></i></li>
      <li class="list-inline-item"><i class="fab fa-python"></i></li>
      <li class="list-inline-item"><i class="fab fa-html5"></i></li>
      <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
      <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
      <li class="list-inline-item"><i class="fab fa-php"></i></li>
    </ul>
    <div class="subheading mt-5 mb-3">Tools I have used</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item" matTooltip="The most
      important development tool?"><i class="fab fa-spotify"></i></li>
      <li class="list-inline-item"><i class="fab fa-git"></i></li>
      <li class="list-inline-item"><i class="fab fa-github"></i></li>
      <li class="list-inline-item"><i class="fab fa-gitlab"></i></li>
      <li class="list-inline-item"><i class="fab fa-aws"></i></li>
      <li class="list-inline-item"><i class="fab fa-linux"></i></li>
      <li class="list-inline-item"><i class="fab fa-docker"></i></li>
      <li class="list-inline-item"><i class="fab fa-cloudflare"></i></li>
      <li class="list-inline-item"><i class="fab fa-figma"></i></li>
      <li class="list-inline-item"><i class="fab fa-stripe"></i></li>
      <li class="list-inline-item"><i class="fab fa-mailchimp"></i></li>
      <li class="list-inline-item"><i class="fab fa-cpanel"></i></li>
      <li class="list-inline-item"><i class="fab fa-bitbucket"></i></li>
      <li class="list-inline-item"><i class="fab fa-jira"></i></li>
      <li matTooltip="This is the best collab tool hands down!!"
          class="list-inline-item"><i class="fab fa-confluence"></i></li>
      <li class="list-inline-item"><i class="fab fa-jenkins"></i></li>
      <li class="list-inline-item"><i class="fab fa-wordpress"></i></li>
      <li class="list-inline-item"><i class="fab fa-sourcetree"></i></li>
      <li class="list-inline-item"><i class="fab fa-raspberry-pi"></i></li>
      <li class="list-inline-item"><i class="fab fa-dev"></i></li>
      <li class="list-inline-item"><i class="fab fa-digital-ocean"></i></li>
    </ul>
    <div class="subheading mt-5 mb-3">Frameworks</div>
    <ul class="mb-0 list-inline dev-icons">
      <li class="list-inline-item">
        <img src="assets/images/svg/spring.svg" alt="Spring Boot">
      </li>
      <li class="list-inline-item">
      <i class="fab fa-angular"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-react"></i>
      </li>
      <li class="list-inline-item">
        <i class="fab fa-node"></i>
      </li>
      <li class="list-inline-item">
        <img height="48" src="assets/images/svg/django.svg" alt="Django">
      </li>
      <li class="list-inline-item">
        <i class="fab fa-laravel"></i>
      </li>
      <li class="list-inline-item">
        <img height="48" src="assets/images/svg/flask.svg" alt="Flask">
      </li>
    </ul>
  </div>
</section>
