<app-navigation></app-navigation>
<div class="container-fluid p-0" data-bs-spy="scroll" data-bs-target="sideNav" data-bs-offset="0" tabindex="0">
  <!-- About-->
  <app-about id="about"></app-about>
  <hr class="m-0" />
  <!-- Experience-->
  <app-experience id="experience"></app-experience>
  <hr class="m-0" />
  <!-- Education-->
  <app-education id="education"></app-education>
  <hr class="m-0" />
  <!-- Skills-->
  <app-skills id="skills"></app-skills>
  <hr class="m-0" />
  <!-- Interests-->
  <app-interests id="interests"></app-interests>
  <hr class="m-0" />
  <!-- Awards-->
  <app-awards id="awards"></app-awards>
</div>
