<section class="resume-section" id="awards">
  <div class="resume-section-content">
    <h2 class="mb-5 h2-main">Awards & Certifications</h2>
    <ul class="fa-ul mb-0 lead">
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        Smart India Hackathon (finalist), 2020
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        Computer Vision - Object Tracking, Coursera, 2020
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        Regression Analysis with YellowBrick, Coursera, 2020
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        Real Time Object Detection - YOLOv3, Coursera, 2020
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        Hult Price - Business Presentation, 2020
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        1
        <sup>st</sup>
        Place - TLY Hackathon - Python - CMR Institute of Technology, 2020
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        3
        <sup>rd</sup>
        Place - TLY Hackathon - Web Development - CMR Institute of Technology,
        2020
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        Building Scalable Java Micro-service with Spring Boot, Coursera, 2020
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        1
        <sup>st</sup>
        Place - TLY Hackathon - Java - CMR Institute of Technology, 2019
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        2
        <sup>rd</sup>
        Place - FKCCI Manthan - Business Presentation, 2019
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        Patent Drafting for Engineers andScientist, NPTEL, 2018
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        Grand Challenges Karnataka - Business Presentation, 2018
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        Design Thinking (UIF), Stanford University, 2018
      </li>
      <li class="mb-3">
        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
        3
        <sup>rd</sup>
        Place - ISRD Board, London - Quiz & Talent Hunt, 2015
      </li>
    </ul>
  </div>
</section>
